<h2 id="title">Welcome to Ember</h2>

<button {{action 'action1'}}>Action 1 in controller</button>
<button {{action 'action2'}}>Action 2 in controller and route</button>
<button {{action 'action3' 'Hello World'}}>Action 3 Passing Values</button>
<button {{action 'enter'}}>Action enter only in route</button>
