<h3>Foo2</h3>

{{#each model as |letters|}}
	{{letters}}<br>
{{/each}}


<h3>Here is the model injected in from the foo1 controller</h3>
{{#each foo1 as |letters|}}
	{{letters}}<br>
{{/each}}

<h3>Foo1 property</h3>
{{foo1Controller.prop1}}
